*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1{
    color: #428e98;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.card-principal{
    display: flex;
    justify-content: space-around;
}

.container-1, .container-2, .container-3{
    align-items: center; 
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.13);
    border-radius: 5px;
    width: 400px;
}

.titulo-1, .titulo-2, .titulo-3{
    display: inline-block;
    background-color: #fff2db;
    color: #d2a350;
    padding: 2%;
    border-radius: 4px;
    font-size: medium;
    margin: 10px 20px;
    font-size: 15px;
}

.subtitulo-1, .subtitulo-2, .subtitulo-3{
    margin: 0 20px;
    font-size: 17px;
}

.estado{
    margin: 4px 20px;
    color: gray;
    font-weight: 100;
}

.texto-1, .texto-2, .texto-3{
    margin: 20px;
    color: gray;
    font-size: 15px;
}

.valores{
    display: inline-flex;
    margin: 0 10px;
}

.real-captado{
    padding: 0 10px;
    font-size: 16px;
}

.real-captado::before, .real::before{
    content: "R$ ";
}

.situacao, .real{
    font-size: 16px;
}

.alinhar-botao{
    display: flex;
    justify-content: space-around;
}

.situacao{
    font-weight: lighter;
}

.botao{
    display: inline;
    border: none;
    background-color: white;
    color: rgb(128, 128, 128);
    cursor: pointer;
}
